/* 聖杯レイアウト */
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  /* background: #000; */
}

main {
  width: 700px;
  flex: 1;
}
aside {
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

aside nav ul {
  list-style: none;
  margin: 20px 0 0 10px;
  padding: 0;
}
ul li {
  margin: 0 0 5px 8px;
}
/* 聖杯レイアウト */

nav a {
  font-size: 25px;
  font-weight: 700;
  color: rgb(82, 78, 78);
  text-decoration: none;
}
aside div {
  height: 300px;
  margin-top: auto;
  margin-left: 16px;
}
div a {
  text-decoration: none;
  color: rgb(82, 78, 78);
  font-weight: 600;
  font-size: 20px;
}
.star {
  margin-top: 8px;
  width: 95%;
  height: auto;
}
.rogo {
  margin: 8px;
  width: 170px;
  height: auto;
  opacity: 0.9;
}

/* ハンバーガーメニュー */
.ham {
  width: 45px;
  height: auto;
}
.close {
  padding: 4px;
}
.ham,
.close {
  display: none;
}
/* ハンバーガーメニュー */

.link {
  margin: 95px auto;
}
input[type="checkbox"] {
  position: absolute;
  left: -50vw;
}

.copy {
  width: 95%;
  font-size: 1px;
  text-align: right;
}
.wel {
  margin: 0;
  width: 88%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: rgb(82, 78, 78);
}

/* 画像に文字いれ */
main div {
  position: relative;
}
.text {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  font-family: Quicksand, sans-serif;
  top: 45%;
  left: 40%;
  /* -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
}
/* 画像に文字いれ */

/* ホバーでasideを透明にする */
/* nav ul li {
  transition: 0.05s; 変化するスピード
} */
nav ul li:hover {
  opacity: 0.5;
}
/* div p {
  transition: 0.05s;
} */
aside div p:hover {
  opacity: 0.5;
}
.link a:hover {
  opacity: 0.8;
}
/* ホバーでasideを透明にする */

/* 画像の中の文字を回転 */
.text {
  text-align: center;
  transform: rotateX(0deg);
  transition: all 1s;
}
.text:hover {
  transform: rotateX(360deg);
}
/* 画像の中の文字を回転 */

/* トップ画像をスライド */
/* トップ画像をスライド */

/* レスポンス対応 */
@media screen and (max-width: 720px) {
  body {
    width: 100%;
    height: auto;
    /* background: #fff; */
  }
  * {
    box-sizing: border-box;
  }
  main {
    width: 100%;
    padding-top: 40px;
  }

  /* ハンバーガーメニュー */
  .ham,
  .close {
    display: block;
  }
  .ham {
    position: absolute;
  }
  aside {
    position: absolute;
    left: -600px;
    width: 80%;
    height: 100%;
    transition: all 0.2s;
    background-image: url(aside1.jpg);
    background-size: cover;
    opacity: 0.8;
  }
  input[type="checkbox"]:checked ~ aside {
    left: 0;
  }
  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  /* ハンバーガーメニュー */

  .star {
    display: block;
    width: 100%;
    /* max-width: 100%; */
    height: auto;
  }
  ul li {
    font-weight: 700;
    margin-left: 5px;
  }
  nav a {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
  }
  .copy {
    display: none;
  }
  .wel {
    text-align: center;
    font-size: 16px;
    color: rgb(82, 78, 78);
    font-weight: 600;
    margin: 0 auto;
  }
  .rogo {
    width: 100px;
    height: auto;
    margin-left: 16px;
  }
  aside div {
    margin: 0 0 120px 16px;
  }
  aside div a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
  }
  .link {
    margin: 0 auto;
    padding: 30px 10px 0 0;
  }
  /* 画像文字消す */
  main div {
    position: static;
  }
  .text {
    display: none;
  }
}
/* 画像文字消す */
